@charset "UTF-8";

/* Estilo dos campos das setas */

div#relativo {
    position: relative;
}

div.setas {
    display: flex;
    justify-content: space-evenly;
}

.setas {
    height: 6.8rem;
    transition: all 1s ease-out;
}

.setas-hidden {
    height: 0;
    opacity: 0;
    background-color: cadetblue;
    transition: all 1s ease-out;
}

div.trabCampo,
div.desCampo {
    display: inline-flex;
    align-items: center;
    line-height: 1.7;
}

div.trabCampoSetas,
div.desCampoSetas {
    padding: 0.4rem;
}

.idesaparecido {
    cursor: initial !important;
}

div.setas i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 2.5rem;
    height: 2rem;
    background-color: #933CCC;
    cursor: pointer;
    transition: .2s;
}

div.setas i:hover {
    background-color: #5C257F;
}

button {
    cursor: pointer;
    background-color: #B84BFF;
    transition-duration: .2s;
    border: none;
}

button:disabled {
    background-color: #b74bffab;
}

button:disabled:hover {
    background-color: #B84BFF;
    cursor: initial;
}

button:hover {
    background-color: #933CCC;
}