@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* font-family: 'Abel', sans-serif; */

body {
    min-width: 40.1em;
    font-size: 15pt;
    font-family: 'Abel', sans-serif;
    font: normal 15pt 'Abel';
    background-color: rgba(228, 198, 198, 0.74);
}

section {
    width: 40em;
    background-color: white;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #606060;
}

header {
    padding-top: 1px;
}

.relogio {
    width: 12em;
    height: 12em;
    background-color: #5ef08ee0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
}

.relogio2 {
    width: 12em;
    height: 12em;
    background-color: #cecece;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: auto;
}

.text-title {
    font: normal 18pt 'Abel';
    margin-bottom: 1.3em;
    margin-top: .3em;
    border-bottom: 1px solid black;
}

#trabalho,
#descanso {
    margin-top: 0;
    font: normal 60pt 'Abel';
    display: inline-block;
}

button {
    width: 8rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    margin: 0.3rem;
}

.text-button {
    font: normal 13pt 'Abel';
    margin: 0.4rem;
}

footer {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-style: italic;
    font-size: 15pt;
}